<template>
    <section class="about" id="about">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> -->
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="imagem-bg">
                        <h2 class="text-center py-2">Sobre o nosso produto</h2>
                        <p class="text-center col-12 col-md-6 p-2">
                            Crédito pessoal para aposentados e pensionistas do INSS que recebem seu benefício em conta corrente
                        </p>
                    </div>
                    <!-- <img src="/assets/img/component4.jpeg" class="d-block w-100" alt="..."> -->
                </div>
                <!-- <div class="carousel-item"> -->
                    <!-- <div class="imagem-bg">
                        <h2 class="text-center py-2">Sobre o nosso produto</h2>
                        <p class="text-center col-12 col-md-6 p-2">
                            O produto é uma modalidade de crédito pessoal à aposentados e pensionistas do INSS que recebem seu benefício em outra instituição financeira
                        </p>
                    </div> -->
                    <!-- <img src="/assets/img/component4.jpeg" class="d-block w-100" alt="..."> -->
                <!-- </div> -->
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> -->
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
    .about {
        font-family: Montserra, sans-serif;
        .imagem-bg {
            padding-top: 5vh;
            padding-bottom: 5vh;
            background-color: black;
            color:white;
            // height: 30vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2 {
                font-weight: 100;
                font-size: 2em;
                @media(max-width: 400px) {
                    font-size: 1.5em;
                }
            }
            p {
                font-weight: 100;
                font-size: 1.3em;
                opacity: 0.5;
            }
        }
    }
</style>

