<template>
    <section class="call-to-action">
        <div class="container">
            <div class="col-12 ">
                <div class="row d-flex justify-content-center">
                    <h1 class="featurette-heading text-white text-center text-md-start">Falta de dinheiro?</br></br> A MG tem a resposta! Clique agora e solicite seu empréstimo.</h1>
                    <!-- https://wa.me/message/ZK6FBDK6DL7RN1 -->
                    <a type="button" class="btn btn-verde col-3 d-flex align-items-center justify-content-center"  href="https://api.whatsapp.com/send?phone=5584981434445" target="_blank">Converse Agora</a>
                </div>
                <div class="row justify-content-center --justify-content-md-start mt-5">
                    <h3 class="featurette-heading text-white text-center text-md-start">Com quase 20 anos de experiência, a MG é líder no mercado de crédito consignado, cartões e empréstimos.</h3>
                    <a type="button" class="mt-2 btn-transparente btn border col-3 text-white d-flex align-items-center justify-content-center ancora" href="#mg-pay">Conheça nossos produtos</a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    .call-to-action {
        font-family: Montserrat, sans-serif;
        position: absolute;
        top:10vh;
        right:20vw;
        margin-left:200px;
        margin-top: 10vh;
        z-index: 2 !important;

        @media(max-width:767px) {
            right: 24vw;
        }
        @media(max-width:700px) {
            top:5vh;
            margin-left:0px;
            margin-top:47vh;
            left:50%;
            transform: translate(-50%, -50%);
            width: 72%;
        }
        @media(max-width:425px) {
            right: 20vw;
            top:1vh;
        }
        @media(max-width:400px) {
            right: 18vw;
        }
        @media(max-width:380px) {
            right: 16vw;
        }
        @media(max-width:360px) {
            right: 14vw;
        }
        @media(max-width:330px) {
            right: 10vw;
        }
        @media(max-width:300px) {
            right: 8vw;
        }
        @media(max-width:280px) {
            right: 6vw;
        }

        h1 {
            font-weight: 700;
            font-size: 3.5rem;
            @media(max-width:1227px) {
                font-size: 3rem;
            }
            @media(max-width:868px) {
                font-size: 2.5rem;
            }
            @media(max-width:650px) {
                font-size: 1.5rem;
            }
        }

        p {
            font-weight: 100;
            font-size: 1.3rem;
            @media(max-width:868px) {
                font-size: 1rem;
            }
        }

        a {
            min-width: 220px;
            height: 60px;
        }

        .ancora {
            @media(max-width: 867px) {
                margin-top: 10px;
            }
        }

        .btn-verde {
            background-color:#48e406;
            color: white;
            border-radius:30px;
            font-weight: bolder;
            text-shadow: black 0em 0em 0.1em;
            height:10vh;
            width:40% !important;
            font-size:larger;
            margin-top:30px;

            @media(max-width:700px) {
                width:100% !important;
            }
        }

        .btn-transparente{
            border-radius:30px;
        }

        .btn-verde:hover,
        .btn-transparente:hover {
            background-color:rgb(51, 188, 88);
            color:rgb(0, 0, 0) !important;
            border-color:rgb(51, 188, 88) !important;
            border-radius:30px !important;
            text-shadow: none;
        }
    }
</style>
