<template>
    <section class="credito">
        <div class=" ">
            <carousel :perPage="[[1]]" :autoplay="true" :navigationenabled="true" paginationActiveColor="#42b983" paginationColor="#e9e9e0" autoplayTimeout="4000">
                <slide class="altura-cred">
                    <h2>
                        Sem consulta <span class="spam">SPC/Serasa</span>
                    </h2>
                </slide>
                <slide class="altura-cred">
                    <h2>
                        Processo 100% <span class="spam"> digital</span>
                    </h2>
                </slide>
                <slide class="altura-cred">
                    <h2>
                        Credfolha é uma linha de crédito que gera soluções financeiras e
                         <span class="spam"> benefícios econômicos</span>
                         aos trabalhadores do segmento privado.
                    </h2>
                </slide>
                <slide class="altura-cred">
                    <h2>
                        <span class="spam"> Sem taxa</span> de administração e sem coobrigacões para o empregador.
                    </h2>
                </slide>
                <slide class="altura-cred">
                    <h2>
                        Possibilidades de <span class="spam"> soluções financeiras</span> para os colaborardes,
                        1/2 salário - pagamento em até 6 meses;
                        1 salário - pagamento em até 12 meses;
                        1,5 salário - pagamento em até 18 meses.
                    </h2>
                </slide>
            </carousel>
            <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> -->
                    <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
                <!-- </div>
                <div class="carousel-inner">
                    <div class="carousel-item active"> -->
                        <!-- <img class="img-fluid altura" src="/assets/img/pessoal.jpeg" alt="imagem" /> -->
                        <!-- <h2 class="altura-cred">
                            Sem consulta <span class="spam">SPC/Serasa</span>
                        </h2>
                    </div>
                    <div class="carousel-item"> -->
                        <!-- <img class="img-fluid altura" src="/assets/img/taxas.jpeg" alt="imagem" /> -->
                        <!-- <h2 class="altura-cred">
                            Processo 100% <span class="spam"> digital</span>
                        </h2>
                    </div>
                </div>
                <button class="carousel-control-prev setas" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next setas" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div> -->
        </div>
    </section>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
export default {
      components: {
    Carousel,
    Slide
  }
};
</script>

<style lang="scss" scoped>
    .credito {
        // position:relative;
        // right: -1000px;
        // top: 420px;
        margin-top: -15vh;
        margin-left: 50px;
        background-color:rgb(96, 50, 222);
        height: 300px;
        width: 40vw;
        border-top-left-radius: 40px;
        padding: 20px;
        font-family: Montserra, sans-serif;
        font-size: 8px;
        font-weight: 300;
        @media(max-width: 767px) {
            display: none;
        }
        .altura-cred {
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
                margin-top:40px;
                font-size: 4em;
                @media(max-width:1819px){
                    font-size: 3em;
                }
                @media(max-width:1002px){
                    font-size: 2.5em;
                }
            }
        }
        // .spam {
        //     border-bottom: solid 2px white;
        //     margin-left: 8px;
        //     color: white;
        // }
    }
</style>

