<template>
    <section id="cp-resolve" class="cp">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2 class="text-center text-md-start">
                        CP Resolve
                    </h2>
                    <p class="text-center text-md-start">
                        <span>Crédito pessoal</span> sem burocracia!
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="d-flex flex-column justify-content-center align-items-center altura">
                        <a type="button" class="btn-roxo col-12 d-flex justify-content-center align-items-center btn"  href="https://api.whatsapp.com/send?phone=5584981434445" target="_blank">Entra em contato</a>
                        <a type="button" class="btn-transparente col-12 d-flex justify-content-center align-items-center btn" href="#about">Como funciona?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
    .cp {
        font-family: Montserra, sans-serif;
        background-image: url(/assets/img/group-11.jpeg);
        background-size: cover;
        padding-top: 30vh;
        padding-bottom: 30vh;
        z-index: 3 !important;
        @media(max-width: 767px) {
            padding-top: 20vh;
            padding-bottom: 20vh;
        }
        .altura {
            height: 100%;
        }
        h2 {
            font-weight: 100;
            font-size: 5em;
            @media(max-width: 992px) {
                font-size: 4em;
            }
            @media(max-width: 400px) {
                font-size: 3em;
            }
        }
        p {
            font-weight: 100;
            font-size: 1.3em;
            color:white;
            // opacity: 0.5;
            @media(max-width: 400px) {
                font-size: 1em;
            }
        }
        h2,
        p {
            color:white;
        }
        span {
            color:rgb(69, 210, 121);
        }
         a {
            color: white;
            // min-width: 220px;
            min-width: 150px;
            max-width: 250px;
            height: 60px;
            margin: 0.5em;
        }
        a:hover {
            color: white;
        }
        .btn-roxo {
            background-color:rgb(96, 50, 222);
        }
        .btn-transparente {
            border-color: white;
        }
        .btn-roxo:hover,
        .btn-transparente:hover {
            background-color:rgb(51, 188, 88);
            color:rgb(0, 0, 0) !important;
            border-color: rgb(51, 188, 88);
        }
    }
</style>
