<template>
    <section id="cred-folha" class="consigned">
        <div class="container">
            <h2 class="text-center text-md-start">
                CredFolha
            </h2>
            <p class="col-12 col-md-8 text-center text-md-start">
                Temos o produto ideal que se encaixa para sua empresa.<br> Venha conferir o CREDFOLHA.
            </p>
            <div class="d-flex justify-content-center justify-content-md-start">
                <a type="button" class="btn btn-roxo d-flex justify-content-center align-items-center"  href="https://api.whatsapp.com/send?phone=5584981434445" target="_blank">Entrar em contato</a>
            </div>
        </div>
    </section >
</template>

<script>
export default {

}
</script>

<style lang="scss">
    .consigned {
        font-family: Montserra, sans-serif;
        background-image: url(/assets/img/mask-group.jpeg);
        background-size: cover;
        padding-top: 30vh;
        padding-bottom: 30vh;
        @media(max-width: 767px) {
                padding-top: 20vh;
                padding-bottom: 20vh;
            }

        h2 {
            font-size: 5em;
            @media(max-width: 991px) {
                font-size: 4em;
            }
            @media(max-width: 600px) {
                font-size: 3em;
            }
            @media(max-width: 400px) {
                font-size: 2em;
            }
        }
        p {
            margin-left: 10px;
            font-weight: 100;
            font-size: 1.3em;
            // opacity: 0.5;
            @media(max-width: 400px) {
                font-size: 1em;
            }
        }
        h2,
        p {
            color: white;
        }
        a {
            min-width: 220px;
            height: 60px;
            margin-left:15px;
        }
        .btn-roxo {
            color: white;
            background-color:rgb(96, 50, 222);
        }

        .btn-roxo:hover {
            background-color:rgb(51, 188, 88);
            color:rgb(0, 0, 0) !important;
            border-color:rgb(51, 188, 88);
        }
    }
</style>
