<template>
    <section class="differentials">
        <div class="container d-flex justify-content-center flex-column py-5">
            <h1 class="text-center text-white pb-4 py-md-5">
                Diferenciais
            </h1>
            <div class="col-12">
                <ul class="row list-unstyled">
                    <li class="col-12 col-md-3 py-1 d-flex justify-content-center">
                        <div class="col-md-1 mx-1 mx-md-2">
                            <img src="/assets/img/shopping-bag-1.png" alt="Parcelamento de Vendas" class="miniatura"/>
                        </div>
                        <div class="col-md-9">
                            <a class="text-decoration-none text-white" href="#">Amplo conhecimento dos produtos que ofertamos</a>
                        </div>
                    </li>
                    <li class="col-12 col-md-3 py-1 d-flex justify-content-center">
                        <div class="col-md-1 mx-1 mx-md-2">
                            <img src="/assets/img/pocket.png" alt="Parcelamento de Vendas" class="miniatura"/>
                        </div>
                        <div class="col-md-9">
                            <a class="text-decoration-none text-white" href="#">Experiência de mercado</a>
                        </div>
                    </li>
                    <li class="col-12 col-md-3 py-1 d-flex justify-content-center">
                        <div class="col-md-1 mx-1 mx-md-2">
                            <img src="/assets/img/user-1.png" alt="Parcelamento de Vendas" class="miniatura"/>
                        </div>
                        <div class="col-md-9">
                            <a class="text-decoration-none text-white" href="#">Profissionais bem treinados</a>
                        </div>
                    </li>
                    <li class="col-12 col-md-3 py-1 d-flex justify-content-center">
                        <div class="col-md-1 mx-1 mx-md-2">
                            <img src="/assets/img/headphones.png" alt="Parcelamento de Vendas" class="miniatura"/>
                        </div>
                        <div class="col-md-9">
                            <a class="text-decoration-none text-white" href="#">Suporte on-line</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    .differentials {
        z-index: 1 !important;
        background-color:black;

        a {
            font-family: Montserrat,sans-serif;
            font-weight: 300;
            font-size: 15px;
        }
    }
</style>
