<template>
    <section class="footer">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-3">
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <div class="d-flex align-items-center align-items-md-start flex-column py-4 py-md-0">
                            <h2>
                                MG Prime
                            </h2>
                            <div class="d-flex">
                                <img src="/assets/img/arroba.png" class="icone me-1" alt="E-mail" />
                                <a href="https://www.instagram.com/mgprime.correspondente" target="_blank">
                                    <p>
                                        mgprime.correspondente
                                    </p>
                                </a>
                            </div>
                            <div class="d-flex ">
                                <img src="/assets/img/phone.png" class="icone me-1" alt="Telefone" />
                                <p>
                                    (84) 3322 - 7618
                                </p>
                            </div>
                            <div class="d-flex ">
                                <img src="/assets/img/map.png" class="icone me-1" alt="Endereço" />
                                <p>
                                    Av. Romualdo Galvão, 210 - Barro Vermelho, Natal - RN, 59022-100
                                </p>
                            </div>
                            <a type="button" class="btn-transparente btn border rounded-pill" href="https://api.whatsapp.com/send?phone=5584981434445" target="_blank">Contato</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                   <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center align-items-md-start flex-column py-4 py-md-0">
                            <h2>
                                MG Correspondente
                            </h2>
                            <div class="d-flex">
                                <img src="/assets/img/arroba.png" class="icone me-1" alt="E-mail" />
                                <a href="https://www.instagram.com/mgcredito" target="_blank">
                                    <p>
                                        mgcredito
                                    </p>
                                </a>
                            </div>
                            <div class="d-flex">
                                <img src="/assets/img/phone.png" class="icone me-1" alt="Telefone" />
                                <p>
                                    (84) 3222 - 1822
                                </p>
                            </div>
                            <div class="d-flex">
                                <img src="/assets/img/map.png" class="icone me-1" alt="Endereço" />
                                <p>
                                    Rua Pricesa Isabel, 461 - Cidade Alta, Natal - RN, 59025-400
                                </p>
                            </div>
                            <a type="button" class="btn-transparente btn border rounded-pill" href="https://api.whatsapp.com/send?phone=5584981434445" target="_blank">Contato</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="d-flex justify-content-center justify-content-md-end">
                        <div class="d-flex align-items-center align-items-md-start flex-column py-4 py-md-0">
                            <h2>
                                MG Group
                            </h2>
                            <div class="d-flex">
                                <img src="/assets/img/arroba.png" class="icone me-1" alt="E-mail" />
                                <a href="https://www.instagram.com/oficialmggroup" target="_blank">
                                    <p>
                                        oficialmggroup
                                    </p>
                                </a>
                            </div>
                            <div class="d-flex">
                                <img src="/assets/img/phone.png" class="icone me-1" alt="Telefone" />
                                <p>
                                    (84) 3302 - 7175
                                </p>
                            </div>
                            <div class="d-flex">
                                <img src="/assets/img/map.png" class="icone me-1" alt="Endereço" />
                                <p>
                                    Av. Prudente de Morais, 3151 - Lagoa Seca, Natal - RN, 59054-490
                                </p>
                            </div>
                            <a type="button" class="btn-transparente btn border rounded-pill" href="https://api.whatsapp.com/send?phone=5584981434445" target="_blank">Contato</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row produtos col-12">
                <h2 class="text-center text-md-start">
                    Produtos
                </h2>
                <div class="row">
                    <ul class="list-unstyled d-flex col-12 col-md-10 flex-column flex-md-row justify-content-between wrap">
                        <li>
                            <a href="#inicio" >
                                <p class="text-center text-md-start">
                                    Início
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#mg-pay" >
                                <p class="text-center text-md-start">
                                    MG Pay
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#saque-fgts" >
                                <p class="text-center text-md-start">
                                    Saque FGTS
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#cred-folha" >
                                <p class="text-center text-md-start">
                                    CredFolha
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="#cp-resolve" >
                                <p class="text-center text-md-start">
                                    CP Resolve
                                </p>
                            </a>
                        </li>
                    </ul>
                    <!-- <ul class="list-unstyled d-flex flex-md-column justify-content-center align-items-md-end col-12 col-md-2 redes-sociais">
                        <li>
                            <a href="instagram.com" target="_blank">
                                <img class="social rounded-pill mb-md-2" src="/assets/img/instagram.png" alt="Instagram" />
                            </a>
                        </li>
                        <li>
                            <a href="linkedin.com" target="_blank">
                                <img class="social rounded-pill mt-md-2" src="/assets/img/linkedin.png" alt="Linkedin" />
                            </a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
    .footer {
        padding-top: 3vh;
        // padding-bottom: 10vh;
        color: black;
        font-family: Montserra, sans-serif;
        @media(max-width: 767px) {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }
        h2 {
            font-weight: 100;
            font-size: 1.5em;
            padding-bottom: 10px;
        }
        p {
            font-weight: 200;
            font-size: 1.1em;
            line-height: 1.3;
            margin-left: 8px;
        }

        a {
            text-decoration: none;
            p {
                color:black;
                // font-size: ;
            }
        }

        .icone {
            height: 18px;
            width: 18px;
            margin-top: 2px;
        }
        .social {
            height: 30px;
            width: 30px;
            background-color: black;
            @media(max-width: 767px) {
                margin: 10px;
            }
        }
        .redes-sociais {
            margin-top: -45px;
            @media(max-width: 767px) {
                margin-top: 0;
            }
        }
        .produtos {
            padding-top: 5vh;
        }
        .btn-transparente {
            min-width: 150px;
            max-width: 250px
        }
        .btn-transparente:hover {
            background-color:rgb(51, 188, 88);
            color:rgb(0, 0, 0) !important;
            border-color:rgb(51, 188, 88) !important;
        }
    }
</style>
