<template>
    <section class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item px-md-5">
                            <a class="nav-link text-white" href="#inicio">Início</a>
                        </li>
                        <li class="nav-item px-md-5">
                            <a class="nav-link text-white" href="#mg-pay">MG Pay</a>
                        </li>
                        <li class="nav-item px-md-5">
                            <a class="nav-link text-white" href="#nio-card">NIO Card</a>
                        </li>
                        <li class="nav-item px-md-5">
                            <a class="nav-link text-white" href="#saque-fgts">Saque FGTS</a>
                        </li>
                        <li class="nav-item px-md-5">
                            <a class="nav-link text-white" href="#cred-folha">CredFolha</a>
                        </li>
                        <li class="nav-item px-md-5">
                            <a class="nav-link text-white" href="#cp-resolve">CP Resolve</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    .header {
        width: 100%;
        position: fixed;
        z-index: 4 !important;
        font-family: Montserra, sans-serif;
        background-color: rgba(10, 10, 10, 0.902);
        font-weight: 100;
        // a {
        //     color: white;
        // }
        button {
            background-color: rgb(96, 50, 222);
            // span {
            //     background-color: ;
            // }
        }
    }
</style>
