<template>
    <section class="how-it-works" id="como-funciona">
        <div class="container">
            <div class="">
                <div class="text-center">
                    <h2>
                        Como funciona?
                    </h2>
                </div>
                <div class="text-center">
                    <p class="">
                        Crédito direto na conta bancária, sem prestação mensal e sem consulta SPC/SERASA
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 p-4">
                    <div class="d-flex justify-content-center">
                        <div class="p-2 d-flex flex-column justify-content-between">
                            <div class="d-flex justify-content-end">
                                <div class="">
                                    <p class="text-end">
                                        <span>Antecipação</span> de até 10 saques de aniversário
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="">
                                    <p class="text-end">
                                        <span>Digitação</span> completa em nosso sistema
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="" style="height: 200px; background-color: rgb(81, 233, 81); width: 2px;">
                            <div class="vr"></div>
                        </div>
                        <div class="p-2 d-flex flex-column justify-content-between">
                            <div class="d-flex justify-content-start">
                                <div class="">
                                    <p>
                                        <span>Crédito</span> liberado diretamente na conta bancária
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="">
                                    <p>
                                        <span>Valor mínimo</span> contratado: R$200
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-4">
                    <div class="d-flex justify-content-center">
                        <div class="p-2 d-flex flex-column justify-content-between">
                            <div class="d-flex justify-content-end">
                                <div class="">
                                    <p class="text-end">
                                        <span>Formalização</span> 100% digital
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="">
                                    <p class="text-end">
                                        <span>Averbação</span> online
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="" style="height: 200px; background-color: rgb(81, 233, 81);; width: 2px;">
                            <div class="vr"></div>
                        </div>
                        <div class="p-2 d-flex flex-column justify-content-between">
                            <div class="d-flex justify-content-start">
                                <div class="">
                                    <p>
                                        <span>Taxa de juros</span> de apenas 1,99%* (sob consulta)
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="">
                                    <p>
                                        <span>Sem comprometimento</span> da renda
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    .how-it-works {
        font-family: Montserra, sans-serif;
        padding-top: 10vh;
        padding-bottom: 10vh;

        span {
            color: rgb(162, 107, 199);
        }
    }
</style>
