<template>
    <section class="">
        <div class="container">
            <div class="horizontal-row" style="">
                <div class="hr"></div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
    .horizontal-row {
        height: 2px;
        background-color: #6032de;
    }
    //hr:not([size]) {
        //heigth: 2px !important;
    //}
</style>
