<template>
    <section class="information">
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-items-center">
                <img class="pe-2" src="/assets/img/qrcode-teste.png" alt="QR Code" />
                <div class="col-8 col-md-3">
                    <p>
                        Para maiores informações, aponte a câmera do seu celular para o QECODE ou ligue para: <strong>(84 3302 - 7175)</strong>
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
    .information {
        font-family: Montserra, sans-serif;
        background-color: rgb(96, 50, 222);
        padding-top: 5vh;
        padding-bottom: 5vh;
        font-weight: 200;
        font-size: 1em;

        p {
            opacity: 0.5;
            color: white;
        }

        img {
            width: 100px;
        }
    }
</style>
