<template>
    <section id="mg-pay" class="machine">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 p-5">
                    <div class="row">
                        <div class="d-flex justify-content-around">
                            <div class="d-flex">
                                <img src="/assets/img/dollar-sign.png" alt="Adesão Zero" class="miniatura" />
                                <div>
                                    <p>Adesão ZERO*</p>
                                    <p>(Consultar)</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                    <img src="/assets/img/credit-card.png" alt="COnta dogital grátis" class="miniatura"/>
                                    <div class="px-1">
                                        <p>Conta digital grátis</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center altura">
                        <img src="/assets/img/machine.png" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-12 col-md-6 adquirir p-5">
                    <div class="d-flex justify-content-around">
                        <div class="d-flex">
                            <img src="/assets/img/user.png" alt="Exclusivo para usuários PJ" class="miniatura"/>
                            <p>Exclusivo para usuários PJ</p>
                        </div>
                        <div class="d-flex">
                            <img src="/assets/img/shopping-bag.png" alt="Parcelamento de Vendas" class="miniatura"/>
                            <p>Parcelamento de vendas em até 12x</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-10 text-md-end text-center conteudo">
                            <h2>
                                A maquininha para todos os tipos de negócios
                            </h2>
                            <p class="transparencia">
                                Abra também a sua conta digital e tenha isenção na taxa de adesão.
                            </p>
                            <a type="button" class="btn-transparente btn border rounded-pill" href="https://api.whatsapp.com/send?phone=5584981434445" target="_blank">Adquirir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    .machine {
        font-weight: 300;
        font-family: Montserra, sans-serif;
        height: auto;

        .miniatura {
            width: 25px;
            height: 25px;
        }
        .adquirir {
            background-color:rgb(96, 50, 222);
            color: white;

        .conteudo {
            padding-bottom: 10vh;
            padding-top: 10vh;

        }

        .altura {
            height: 100%;
        }

            h2 {
                font-size: 6em;
                @media(max-width:1754px) {
                    font-size: 5em;
                }
                @media(max-width:1600px) {
                    font-size: 4em;
                }
                @media(max-width:1241px) {
                    font-size: 3em;
                }
            }

            h2,
            p {
                font-weight: 100;
            }

            .transparencia {
                opacity: 0.5;
            }

            a {
                font-weight: 200;
                color: white !important;
                width: 150px;
                font-size: 1em;
            }

            .btn-transparente:hover {
                background-color:rgb(51, 188, 88);
                color:rgb(0, 0, 0) !important;
                border-color:rgb(51, 188, 88) !important;
            }
        }
    }
</style>
