<template>
    <section class="mg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4 d-flex justify-content-md-start">
                    <img src="/assets/img/prime-selo.png" alt="Grupo MG" />
                </div>
                <div class="col-4 d-flex justify-content-md-center">
                    <img src="/assets/img/mg-selo.png" alt="Grupo MG" />
                </div>
                <div class="col-4 d-flex justify-content-md-end">
                    <img src="/assets/img/group-selo.png" alt="Grupo MG" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
    .mg {
        padding-top: 3vh;
        padding-bottom: 3vh;
        img {
            width: 100%;
            max-width: 200px;
            min-width: 50px;
        }
    }
</style>
