<template>
    <section id="inicio" class="slide position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
            </div>
            <div class="carousel-inner">
                <div class="imagem carousel-item active">
                    <!-- <img src="/assets/img/component4.jpeg" class="w-100" alt="..."> -->
                </div>
                <!-- <div class="imagem carousel-item"> -->
                    <!-- <img src="/assets/img/component4.jpeg" class="" alt="..."> -->
                <!-- </div>
                <div class="imagem carousel-item"> -->
                    <!-- <img src="/assets/img/component4.jpeg" class="" alt="..."> -->
                <!-- </div> -->
            </div>
            <button class="carousel-control-prev setas" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next setas" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <CallToAction class=""></CallToAction>
    </section>
</template>

<script>
import CallToAction from './CallToAction.vue'
export default {
    components: {
        CallToAction
    }

}
</script>

<style lang="scss">
    .slide {

        .setas {
            z-index: 3 !important;
        }
        .imagem {
            background-image: url(/assets/img/component4.jpeg);
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    }
</style>
