<template>
    <section class="tax">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 adquirir  d-none d-md-block">
                    <div class="">
                        <div class="d-flex justify-content-center">
                            <div class="col-6">
                                <h2 class="text-center text-md-start">
                                    Taxa <span>média</span> de juros <span>anuais</span>
                                </h2>
                                <div class="d-flex justify-content-center justify-content-md-start">
                                    <a type="button" class="btn-transparente btn border rounded-pill"  href="https://api.whatsapp.com/send?phone=5584981434445" target="_blank">Adquirir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-none d-md-block">
                    <CardCredit />
                    <div class="d-flex justify-content-center align-items-center altura">
                        <img class="img-fluid" src="/assets/img/group-19.png" alt="" />
                    </div>
                </div>
                <carousel class="bg-fundo d-md-none" :perPage="[[1]]" :autoplay="true" :navigationenabled="true" paginationActiveColor="#42b983" paginationColor="#e9e9e0" autoplayTimeout="4000">
                    <slide class="altura-cred d-flex justify-content-center align-items-center">
                        <h2 class="text-center">
                            Sem consulta <span class="spam">SPC/Serasa</span>
                        </h2>
                    </slide>
                    <slide class="altura-cred d-flex justify-content-center align-items-center">
                        <h2 class="text-center">
                            Processo 100% <span class="spam"> digital</span>
                        </h2>
                    </slide>
                    <slide class="altura-cred d-flex justify-content-center align-items-center">
                        <h2>
                            Credfolha é uma linha de crédito que gera soluções financeiras e
                            <span class="spam"> benefícios econômicos</span>
                            aos trabalhadores do segmento privado.
                        </h2>
                    </slide>
                    <slide class="altura-cred d-flex justify-content-center align-items-center">
                        <h2>
                            <span class="spam"> Sem taxa</span> de administração e sem coobrigacões para o empregador.
                        </h2>
                    </slide>
                    <slide class="altura-cred d-flex justify-content-center align-items-center">
                        <h2>
                            Possibilidades de <span class="spam"> soluções financeiras</span> para os colaborardes,
                            1/2 salário - pagamento em até 6 meses;
                            1 salário - pagamento em até 12 meses;
                            1,5 salário - pagamento em até 18 meses.
                        </h2>
                    </slide>
                </carousel>
            </div>
        </div>
    </section>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import CardCredit from './CardCredit.vue'
    export default {
        components: {
            CardCredit,
            Carousel,
            Slide
        }
    }
</script>

<style lang="scss">
    .tax {
        color: white;
        font-family: Montserrat, sans-serif;
        h2 {
            font-weight: lighter;
            font-size: 5em;
            @media(max-width:1200px) {
                font-size: 4em;
            }
            @media(max-width:970px) {
                font-size: 3em;
            }
        }
        .bg-fundo {
            background-color:rgb(96, 50, 222);
            .altura-cred {
                padding-top: 10vh;
                padding-bottom: 5vh;
                h2 {
                    font-size: 3em;
                    @media(max-width:585px){
                        font-size: 2em;
                    }
                }
            }
        }
        .adquirir {
            background-color: rgb(96, 50, 222);
            padding-top: 20vh;
            padding-bottom: 20vh;
        }
        .altura {
            padding-top: 20vh;
            padding-bottom: 20vh;
            height: 60%;
            width: 100%;
            background-color: white;
            @media(max-width:767px) {
                height: 100%;
            }
        }

        a {
            color: white;
            min-width: 150px;
            max-width: 250px;
        }
        a:hover {
            color: white;
        }
        .btn-roxo {
            background-color:rgb(96, 50, 222);
        }

        .btn-transparente:hover {
            background-color:rgb(51, 188, 88);
            color:rgb(0, 0, 0) !important;
            border-color:rgb(51, 188, 88) !important;
        }
        span {
            color:rgb(69, 210, 121);
        }
    }
</style>
