<template>
    <section class="we-are">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="featurette-heading text-white text-center text-md-start">Nós somos o grupo MG</h1>
                    <p class="lead text-white text-center text-md-start">Uma empresa que atua no segmento de crédito público, privado, cartões e seguros há quase 20 anos.</p>
                </div>
                <div class="row justify-content-center justify-content-md-start">
                    <a type="button" class="btn btn-roxo col-3 d-flex align-items-center justify-content-center" href="#mg-pay">Conheça nossos produtos</a>
                    <a type="button" class="btn-transparente btn border col-3 text-white d-flex align-items-center justify-content-center ancora"  href="https://wa.me/message/ZK6FBDK6DL7RN1" target="_blank">Entrar em contato</a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    .we-are {
        font-family: Montserrat, sans-serif;
        position: absolute;
        top:25vh;
        right:20vw;
        margin-left:200px;
        margin-top: 10vh;
        z-index: 2 !important;

        @media(max-width:767px) {
            right: 24vw;
        }
        @media(max-width:700px) {
            top:20vh;
        }
        @media(max-width:425px) {
            right: 20vw;
            top:15vh;
        }
        @media(max-width:400px) {
            right: 18vw;
        }
        @media(max-width:380px) {
            right: 16vw;
        }
        @media(max-width:360px) {
            right: 14vw;
        }
        @media(max-width:330px) {
            right: 10vw;
        }
        @media(max-width:300px) {
            right: 8vw;
        }
        @media(max-width:280px) {
            right: 6vw;
        }

        h1 {
            font-weight: 700;
            font-size: 4.5rem;
            @media(max-width:1227px) {
                font-size: 4rem;
            }
            @media(max-width:868px) {
                font-size: 3.5rem;
            }
            @media(max-width:650px) {
                font-size: 2.5rem;
            }
        }

        p {
            font-weight: 100;
            font-size: 1.3rem;
            @media(max-width:868px) {
                font-size: 1rem;
            }
        }

        a {
            min-width: 220px;
            height: 60px;
            margin-left:15px;

        }

        .ancora {
            @media(max-width: 867px) {
                margin-top: 10px;
            }
        }

        .btn-roxo {
            background-color:rgb(96, 50, 222);
            color: white;
        }
        .btn-roxo:hover,
        .btn-transparente:hover {
            background-color:rgb(51, 188, 88);
            color:rgb(0, 0, 0) !important;
            border-color:rgb(51, 188, 88) !important;
        }
    }
</style>
