from classe import '../app.scss'

<template>
    <section id="saque-fgts" class="withdraw">
        <div class="container">
            <div class="col-12">
                <div class="d-flex flex-column aling-items-center">
                    <div class="text-center">
                        <h2>
                            Saque de FGTS antecipado
                        </h2>
                    </div>
                    <div class="espacamento">
                        <div class="text-center">
                            <p>
                                A melhor opção pra quem precisa de dinheiro rápido na conta.
                            </p>
                        </div>
                        <div class="text-center">
                            <p>
                                Sem endividamentos e sem prestação para pagar.
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <a type="button" class="btn-roxo col-12 col-md-3 btn rounded-pill m-1"  href="https://api.whatsapp.com/send?phone=5584981434445" target="_blank">Contato</a>
                        <a type="button" class="btn-transparente col-12 col-md-3 btn border rounded-pill m-1" href="#como-funciona">Como funciona?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    .withdraw {
        font-family: Montserra, sans-serif;
        background-image: url(/assets/img/fgts.jpeg);
        background-size: cover;
        padding-top: 20vh;
        padding-bottom: 20vh;

        .espacamento {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .btn-roxo {
            background-color:rgb(96, 50, 222);
        }
        .btn-roxo:hover,
        .btn-transparente:hover {
            background-color:rgb(51, 188, 88);
            color:rgb(0, 0, 0) !important;
            border-color:rgb(51, 188, 88) !important;
        }

        h2 {

            font-size: 4em;
            @media(max-width:767px) {
                font-size: 3em;
            }
        }

        h2,
        p {
            color: white;
            font-weight: 100;
        }

        // p {
        //     opacity: 0.5;
        // }

        a {
            color: white;
            min-width: 150px;
            max-width: 250px;
        }
        a:hover {
            color: white;
        }
    }
</style>
